/*==============================================================
    webフォントの読み込み
==============================================================*/

/* 'M PLUS 1p' */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap');
/* 'Ubuntu' */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap&text=AyaExpTech');

/*==============================================================
    変数設定
==============================================================*/

:root {
    /* 文字の太さの設定 */
    --normal: 400;
    --bold: 500;
    /* 基準色設定(HSL) */
    --base: 240, 50%;
    /* グラスモーフィズムの設定 */
    --blur: 0px;
    --alpha: 0.4;
}

/*==============================================================
    親要素指定・リセットCSS
==============================================================*/

html {
    /* 基準単位を指定(remで参照) */
    font-size: 16px;
    /* スムーズスクロール */
    scroll-behavior: smooth;
    /* フォント指定 */
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: var(--normal);
}

* {
    /* margin, padding, borderを一旦0にする */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* borderをサイズ内に含む */
    box-sizing: border-box;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: black;
}

/*==============================================================
    ヘッダー部分
==============================================================*/

header {
    /* 大きさの指定 */
    width: 100%;
    height: 6rem;
    /* 位置の指定(上部固定) */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    /* 色の指定 */
    background: hsl(var(--base), 12.5%);
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
    /* flexboxの設定 */
    display: flex;
    justify-content: center;
    align-items: center;
}

header>img {
    /* 大きさの設定 */
    height: 5rem;
    margin: auto 1rem;
    /* 選択禁止設定 */
    user-select: none;
}

header>p {
    /* 大きさの設定 */
    margin: auto 1rem;
    font-size: 3rem;
    color: hsl(var(--base), 93.75%);
    font-family: 'Ubuntu', sans-serif;
    /* 選択禁止設定 */
    user-select: none;
}

/*==============================================================
    メインコンテンツ部分の配置
==============================================================*/

main {
    /* 大きさの設定 */
    width: 100%;
    margin-top: 6rem;
    /* flexboxの設定 */
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

main>article {
    /* 大きさの設定 */
    width: 70%;
    /* 余白の設定 */
    margin: 1rem 0.5rem;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1.5rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
}

main>div.sidebar {
    /* 大きさの設定 */
    width: 30%;
    /* 余白の設定 */
    margin: 1rem 0.5rem;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1.5rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
}

main>article>h1 {
    /* 余白の設定 */
    margin: 0.5rem;
    /* 太字&大きめにする */
    font-size: 1.5rem;
    font-weight: var(--bold);
    /* 上下のpaddingを少し取る */
    padding: 0.25rem 0;
    /* 左のpaddingを1文字分取る */
    padding-left: 1rem;
    /* beforeで作る左枠のために基準positionになれるようにする */
    position: relative;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1.5rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
}

main>article>h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.75rem;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: hsl(var(--base), 20%);
}

/*==============================================================
    本文とサイドバーの装飾
==============================================================*/

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(#lead, .noHead) {
    /* 余白の設定 */
    margin: auto 0.5rem 0.5rem;
    /* paddingを少し取る */
    padding: 0.5rem;
    /* beforeで作る左枠のために基準positionになれるようにする */
    position: relative;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1.5rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
}


:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) {
    /* 余白の設定 */
    margin: 0.5rem;
    /* paddingを少し取る */
    padding: 0.5rem;
    /* beforeで作る左枠のために基準positionになれるようにする */
    position: relative;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1.5rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section)>h2 {
    /* 太字&大きめにする */
    font-size: 1.25rem;
    font-weight: var(--bold);
    /* 上marginを消す */
    margin-bottom: 0.25rem;
    /* 上下のpaddingを少し取る */
    padding: 0.25rem 0;
    /* 左のpaddingを1文字分取る */
    padding-left: 1rem;
    /* beforeで作る左枠のために基準positionになれるようにする */
    position: relative;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section)>h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: hsl(var(--base), 20%);
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) p {
    padding: 0.25rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) img {
    /* before用指定 */
    position: relative;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.1rem 0.1rem 0.4rem hsla(var(--base), 0%, 0.2);
    border-radius: 0.5rem;
    min-height: 1rem;
    max-height: 33vh;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) table {
    /* 大きさ設定 */
    width: 100%;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.1rem 0.1rem 0.4rem hsla(var(--base), 0%, 0.2);
    border-radius: 0.5rem;
    min-height: 1rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) table th,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) table td {
    background-color: hsla(var(--base), 100%, var(--alpha));
    border-radius: 0.5rem;
    padding: 0.1rem;
    text-align: center;
    word-break: break-all;
    vertical-align: middle;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) a:not(:has(img)) {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    position: relative;
    padding: auto 0.5rem;
    margin: 0 0.125rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) a:not(:has(img))::before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 0.2rem;
    background-color: hsla(var(--base), 12.5%, 33%);
    transition: height 0.2s, background-color 0.2s;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) a:not(:has(img)):hover::before {
    height: 100%;
    background-color: hsla(var(--base), 12.5%, 17.6%);
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) h3,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) h4,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) h5,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) h6 {
    /* 太字にする */
    font-weight: var(--bold);
    /* 左のpaddingを少し取る */
    padding-left: 0.75rem;
    /* beforeで作る左枠のために基準positionになれるようにする */
    position: relative;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) h3::before,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) h4::before,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) h5::before,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) h6::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: hsl(var(--base), 15%);
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) blockquote {
    /* 左のpaddingを少し取る */
    padding-left: 1rem;
    /* beforeで作る左枠のために基準positionになれるようにする */
    position: relative;
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) blockquote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: hsla(var(--base), 0%, 0.67);
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) cite {
    /* どうせblockquoteとかのあとに使うのでブロック要素にする */
    display: block;
    /* 上の要素との関連性が強いのでmargin-topを小さく */
    margin-top: 0.25rem !important;
    /* あとはよしなに */
    font-size: 0.75rem;
    font-style: italic;
    margin-left: 0.5rem;
    padding-left: 0.25rem;
    border-left: solid hsl(var(--base), 10%) 0.25rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) blockquote+cite::after {
    content: "より";
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) cite:not(blockquote+cite) {
    font-style: normal;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) strong,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) b {
    font-weight: var(--bold);
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) em,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) i {
    font-style: italic;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) s,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) strike,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) del {
    text-decoration: line-through 1px;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) u {
    text-decoration: underline 1px;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) abbr {
    text-decoration: underline dashed 1px;
    margin: auto 0.25rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) code:not(pre>code) {
    background-color: hsl(var(--base), 10%);
    color: hsl(var(--base), 90%);
    font-family: monospace;
    padding: 0.05rem 0.5rem;
    border-radius: 0.5rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) q {
    background-color: hsla(var(--base), 0%, 0.1);
    padding: 0 0.5rem;
    border-radius: 1rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) q::before {
    content: "";
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) q::after {
    content: "";
}


:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) a:has(img)>img {
    transition: transform 0.3s, filter 0.3s;
    transform: scale(1);
    filter: brightness(100%);
    /* グラスモーフィズムの枠線微変更 */
    border: 2px solid hsla(var(--base), 50%, 0.3);
    border-right-color: hsla(var(--base), 50%, 0.1);
    border-bottom-color: hsla(var(--base), 50%, 0.1);
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) a:has(img)>img:hover {
    transform: scale(1.01);
    filter: brightness(110%);
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) a:has(img)>img:active {
    transform: scale(0.98);
    filter: brightness(100%);
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) sub {
    vertical-align: sub;
    font-size: smaller;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) sup {
    vertical-align: super;
    font-size: smaller;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) pre:has(code) {
    /* paddingを少し取る */
    padding: 0.5rem;
    /* 文字色設定 */
    color: hsl(var(--base), 90%);
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 0%, 0.75);
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
    /* 右端に到達したら容赦なく折り返す */
    overflow-wrap: break-word;
    table-layout: fixed;
    word-break: break-all;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) pre>code {
    font-family: monospace;
    max-width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) ul,
:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) ol {
    padding-inline-start: 1.5rem;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) li {
    margin: 0.125rem auto !important;
}

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) * {
    max-width: 100%;
    margin: 0.25rem inherit;
    /* 上marginを入れる */
    margin-bottom: 0.5rem;
}

/*==============================================================
    横並びレイアウト
==============================================================*/

div[column] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    --c: 2;
    /* attr()がnumberに対応すればattr(column)が使えるね！ */
}

div[column]>div {
    width: calc(calc(100% / var(--c)) - 0.5rem);
    margin: 0 0.25rem;
}

/*==============================================================
    mediumZoom 画像拡大
==============================================================*/

.medium-zoom-overlay,
.medium-zoom-image--opened {
    z-index: 1000;
}

/*==============================================================
    個別グラスモーフィズム
==============================================================*/

:is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) :is([glass], .glass) {
    /* グラスモーフィズム */
    background-color: hsla(var(--base), 100%, var(--alpha));
    border: 1px solid hsla(var(--base), 100%, 0.4);
    border-right-color: hsla(var(--base), 100%, 0.2);
    border-bottom-color: hsla(var(--base), 100%, 0.2);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0.25rem 0.25rem 1rem hsla(var(--base), 0%, 0.4);
    border-radius: 0.5rem;
    min-height: 1rem;
}

/*==============================================================
    スマホ向けの設定
==============================================================*/

@media screen and (max-width: 920px) {
    html {
        /* 基準単位を指定(remで参照) */
        font-size: 14px;
    }

    header {
        height: 4rem;
    }

    header>img {
        /* 大きさの設定 */
        height: 3rem;
        margin: auto 0.5rem;
        /* 選択禁止設定 */
        user-select: none;
    }

    header>p {
        /* 大きさの設定 */
        margin: auto 0.5rem;
        font-size: 1.5rem;
        color: hsl(var(--base), 93.75%);
        font-family: 'Ubuntu', sans-serif;
        /* 選択禁止設定 */
        user-select: none;
    }

    main {
        flex-direction: column;
        margin-top: 4rem;
    }

    main>article,
    main>div.sidebar {
        /* 大きさの設定 */
        width: calc(100% - 1rem);
    }

    :is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) img {
        max-height: 25vh;
    }

    :is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) div[column]>div {
        width: calc(50% - 1rem);
    }
}

@media screen and (max-width: 480px) {
    :is(section#lead, section.noHead, main>article section, main>div.sidebar>section):is(:has(h2), #lead, .noHead) div[column]>div {
        width: calc(100% - 1rem);
    }
}